body {
  padding: 0px;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 2rem;
}
a:hover{
  text-decoration: none !important;
}

a{
  color: #000000;
}

.my-nav-custom{
  height: 150px;
}

h1{
  font-size: 2.0rem;
}

.socialShareIcon{
  width: 32px;;
}

.container{
  padding-left: 5px;
  padding-right: 5px;
}

.postText{
  font-size: 1.25rem;
}
