body {
  padding: 0px;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 32px;
}
a:hover{
  text-decoration: none !important;
}

a{
  color: #000000;
}

.my-nav-custom{
  height: 100px;
}

h1{
  font-size: 2.0rem;
}

.socialShareIcon{
  width: 32px;;
}
